<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#fsffsfsf">Orders Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/customers}">Clienti</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <h1>Lista clienti</h1>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/customers/new}" class="btn btn-primary btn-sm mb-3">
                Adauga Client
            </a>
        </div>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Nume si prenume client</th>
            <th>Numar telefon</th>
            <th>Adresa email</th>
            <th>Actiuni</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="customer: ${customers}">
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.phoneNumber}"></td>
            <td th:text="${customer.email}"></td>
            <td>
                <a th:href="@{/customers/edit/{id}(id=${customer.id})}"
                class="btn btn-primary">Editeaza</a>
                <a th:href="@{/customers/{id}(id=${customer.id})}"
                   class="btn btn-danger">Sterge</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>